<h1>ログイン</h1>
<form [formGroup]="signInFormGroup" (ngSubmit)="onSubmit()">
  <input
    class="form-item"
    type="text"
    placeholder="ユーザー名"
    formControlName="userName"
    autocomplete="user-name"
  />
  <input
    class="form-item"
    type="password"
    placeholder="パスワード"
    formControlName="password"
    autocomplete="current-password"
  />
  <a routerLink="/sign-up">登録はこちら</a>
  <button class="form-item" type="submit" [disabled]="signInFormGroup.invalid">
    ログイン
  </button>
</form>
